h1{text-align: center ;
    font-size: xx-large;
    color: white;
    font-family:sans-serif;
    height: 60px;
 }

.logo{float: left;
padding: 20px}

.millieu{ line-height: 16px}

body{
    margin-left: 40px;
    margin-right: 40px;}
img{
    height:240px;
    width:240px;
}
.millieu2{
    text-align: left;
    line-height: normal;
}


nav.navigation{
    width:100%;
    height: 60px;
    align-items: center;
}

a {
    width:150px;
    height: 30px;
    background-color:dodgerblue;
    border: 3px white ;
    border-color:  white;
    color: white;
    text-align:center;
    vertical-align: middle;
    height: 65px;
    padding: 10px;
    margin-right: 6%;
    margin-left: 6%;
    border-radius: 10px 10px 10px 10px;
    display:block;
    float:left;
}

a:hover {
    background-color:white;
}

p{
    font-size: large;

}

#pied_page{
    background-color: lightslategrey;
    height : 250px;
    display: flex ;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


}


#pied_page div{
    width: 400px;
    height: 150px;
    border: whitesmoke solid;
    color: white;
    overflow: auto;
    align-items: center;
    align-content: center;


}

hr {
    border-top: 2px solid black;
}

.container{
    background-color: #1154a4;
}

div.container {

    vertical-align: middle ;
}

.middle{
    vertical-align: middle;
}
